
body {                       /* global background color */
	background-color: #e8efe1;	; 
	}

div {
max-width: 1200px;
}

p {
  max-width: 1180px;
  border: 5;
  margin: 10;
  color: rgb(10, 10, 10);
  text-align: justify;
  line-height: 1.5em;
}


p.ex1 {
    font: 16px arial, sans-serif;
}

l {
max-width: 1200px;
}


/*-------------------Navigation bar ---------------------*/
#mynb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #046;
}

#mynb li {
    float: left;
}

#mynb li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font: 18px arial, sans-serif;

}

#mynb li a:hover {
    background-color: #111;
}

/*-----------------------image gallary --------------*/
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#myimg img {              /* size of icons in the gallery */
    width: 120px;
    height:90px;
    padding: 5px;
    margin: 10px;
}

.caption {
    display: block;
    color: rgb(0, 0, 20);
    font-size: 14px;
    text-align: center;
}

/*------------------- List ---------------------*/

ul {
    padding: 10px;
}

ul li {
	margin: 5;
}

hr {
  border: 5;
  width: 1200px;
  justify: left;
}

/*----------------image map -------------------*/

/*<style media="screen">*/

#dmwhipp {
    position:relative;
    width:796px;
    height:489px;
    padding:0;
    margin:0 auto;
    background-image:url('../images/scope17.png');
    list-style-type:none;
 }
#dmwhipp li {
    position:absolute;
 }
#dmwhipp li:hover div {
    display:block;
 }
#dmwhipp a {
    display:block;
    width:77px;
    height:77px;
    border-radius:50%;
 }
#dmwhipp div {
    display:none;
    position:absolute;
    box-sizing:border-box;
    left:20px;
    top:20px;
    width:250px;
    height:150px;
    padding:10px;
    border:2px solid #000000;
    border-radius:10px;
    /*
    background-image:linear-gradient(to bottom,#fff,#b7d6e9);
    box-shadow:inset 0 0 20px #999,4px 4px 4px #999; */

    background-color:#ffffff;
    color:#000000; 
 }

#in1 {
    left:565px;
    top:55px;
 }
#in1 div {
    width:200px;
    height:100px;
 }
 
#in1 a {
    width:120px;
    height:20px;
 }
 
#in2 {
    left:690px;
    top:55px;
 }
#in2 div {
    width:150px;
    height:150px;
 }
 
#in2 a {
    width:100px;
    height:20px;
 }


 
#dmwhipp h6 {
    margin:10px 0;
    text-align:center;
    text-transform:uppercase;
 }

#dmwhipp p {
    font-size:75%;
 }
/* </style> */
